:root {
    --vermelho: #ED1B2E;
    --cinza: #666666;
    --branco: #E5E5E5;
    --rozinha: #FFFFFF, 30%;
    --fundo: #FFFFFF, 10%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
background-color: var(--preto); <=== exemplo de uso da variável
     */
